.adminservice-container {
  display: flex;
  border: 1px solid #072f5f;
  margin: 10px;
  overflow-y: scroll;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  font-size: 15px;
  padding: 8px;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 20px;
  color: #000;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}